# backend
target/

# frontend
frontend/node_modules/
frontend/dist/
deploy/docker/.env

# root node
node_modules/

# IDE
.idea/
.vscode/
*.iml

# local secrets
src/main/resources/application-local.yml
